.html,
.body {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

.App {
  text-align: center;
  margin: auto;
  width: 1000px;
}

.contacts {
  width: 50%;
  text-align: center;
  margin: auto;
}

.contactCard {
  border: 1px solid black;
  margin: 25px;
  padding: 25px;
}
